/*---Import---*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Bebas+Neue&display=swap');

/*---Structure---*/
*{
    padding: 0px;
    margin:0px;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
    font-size: 20px;
}

body{
  background-color: #d8bfd8;
}

.navbar{
    z-index: 1 !important;
    position: absolute !important;
    top: 0px;
    right: 0px;
    left: 0px;
}

#siteName{
    font-size: 2rem;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.95;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.bg-image{
  max-width: 992px;
  margin:0px auto;
}

.world{
  width:24vw;
  height:auto;
  position: relative;
  top:-5vw;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 8px #000;
  margin: 5px;
  color: #f1f1f1;
  text-shadow: 0 0 1px rgb(255, 255, 255);
  letter-spacing: 2px;
}

.world:hover{
  transform: scale(1.01);
  transition: 200ms;
  cursor: pointer;
}

.world-confirm{background-color: rgb(255, 155, 6);}
.world-recovery{background-color: rgb(0, 194, 87);}
.world-death{background-color: rgb(252, 64, 64);}

.world div{
  font-size: 3vw;
  font-weight: 600;
  position: relative;
  top:0px;
}

.world .total{
  font-size: 3.5vw;
  margin: 10px 0;
}

.world .new{
  font-size: 2.5vw;
}

.social-wrap ul{
  width: 200px;
  display: flex;
  padding: 0;
  margin: 0 auto;
}

.social-wrap ul li{
  list-style: none;
  margin: 20px auto;
}

.social-wrap ul li i{
  color:rgb(250, 77, 77);
}

.copyright{
  font-size: 15px;
}

.appName{
  padding: 10px 0px;
}

.appName .wrap{
  width:150px;
  margin:0px auto;
}

footer{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(255,238,238,1) 100%);
}

.world-search{
  background-color: #FFC8C8;
  box-shadow: 2px 2px 10px #111;
}

/*----Hover----*/
.social-wrap ul li:hover{
  transform: rotateY(360deg);
  transition: 1s;
}

/*----Key frames----*/


/*----Media Query----*/

  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  #siteName {display: none !important;}
}

@media screen and (max-width: 450px) {
  #siteName {display: none !important;}
  .head{font-size: 10px !important; ;}
}

@media screen and (max-width: 768px) {
  .world .total{font-size:4vw;}
}

@media screen and (min-width: 768px) {
  .world{width:180px;height:150px;}
  .world div{font-size: 25px;}
}

@media screen and (min-width: 992px) {
  .world .total{font-size: 35px;}
  .world .new{font-size: 25px;}
}